<div class="has-text-centered" id="blogbox">
    
    <div class="card has-background-warning"> 
        <h2 class="h2 is-size-4 has-text-black has-text-weight-bold ">{{title}}</h2>
        <div class="card-content has-background-white">
            <p class="is-size-5 has-text-black">
                {{content}}
            </p>
            <p class="is-size-6 has-text-right has-text-weight-bold ">
                Posted on: {{format_date createdAt}} by {{user.username}}
            </p>
        </div>
    </div>
    <br>
    <div class="columns has-text-centered">
        <h2 class="h2 is-size-2 has-text-weight-bold ">Comments</h2>
    </div>
    {{#each comments as |comment|}}
    <div class="column ">
        <div class="card has-background-warning-light ">
            <p class="is-size-5 has-text-left bcontent2 ">{{comment.comment}}</p>
            <p class="has-text-right bcontent2">{{comment.user.username}} on {{format_date createdAt}}</p>
            <hr>
            
        </div>
    </div>
    {{/each}}
    {{#if loggedIn}}
    <div class="row mt-4">
        <form class="form new-blog-form">
            <div class="field">
                <label class="label h2 is-size-5" for="blog-desc">Add Comment:</label>
                <div class="control">
                    <textarea class="textarea" id="blog-desc" name="blog-desc"></textarea>
                </div>
            </div>
            <input type="hidden" id="blog_id" name="blog_id" value="{{id}}">
            <div class="field">
                <div class="control">
                    <button type="submit" class="button navheader is-size-5 custom-box">Create</button>
                </div>
            </div>
        </form>
    </div>
    {{/if}}
</div>
<script src="/js/comment.js"></script>
