<div class="has-text-centered" id="blogbox">
  <div class="columns">
    <div class="column">
      <div class="columns mt-1">
        <div class="column is-half">
          <h2 class="h2 is-size-2 has-text-weight-bold">Welcome, {{username}}!</h2>
          <br>
          <h2 class="h2 is-size-4 has-text-weight-bold">Create a New Blog Post</h2>
          <br>
          <form class="form new-blog-form">
            <div class="field">
              <label class="label h2 is-size-5 has-text-weight-bold" for="blog-name">Title:</label>
              <div class="control">
                <input class="input" type="text" id="blog-name" name="blog-name" />
              </div>
            </div>
            <div class="field">
              <label class="label h2 is-size-5 has-text-weight-bold" for="blog-desc">Content:</label>
              <div class="control">
                <textarea class="textarea" id="blog-desc" name="blog-desc"></textarea>
              </div>
            </div>
            <br>
            <div class="field">
              <div class="control">
                <button type="submit" class="button navheader is-size-5 custom-box">Create</button>
              </div>
            </div>
          </form>
        </div>

        <div class="column is-half">
          <div class="blog-list">
            <h2 class="h2 is-size-3 has-text-weight-bold">Blog Posts</h2>
            <br>
            {{#if blogs.length}}
            <div class="columns is-multiline">
              {{#each blogs as |blog|}}
              <div class="column is-half">
                <div class="card has-background-warning">
                  <a class="is-size-5 has-text-black has-text-weight-bold" id="created-blogs" href="/blogs/{{id}}">
                    {{blog.title}}
                    <div class="card-content has-background-white">
                      <h4 class="is-size-5 has-text-black ">
                        {{blog.content}}
                      </h4>
                      <br>
                      <p class="is-size-6">
                        posted on: {{format_date createdAt}}
                      </p>
                      <br>
                      <div>
                        <a id="created-blogs" href="/blogs/{{id}}" class="button is-small navheader is-size-5 custom-box-view">View</a>
                        <a href="./dashboard/editBlog/{{blog.id}}" class="button is-small navheader is-size-5 custom-box-edit">Edit</a>
                        <button class="button is-small navheader is-size-5 custom-box-del" data-id="{{blog.id}}">Delete</button>
                      </div>
                    </div>
                  </a>
                </div>
              </div>
              {{/each}}
            </div>
            {{else}}
            <p>No blog posts found.</p>
            {{/if}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="./js/dashboard.js"></script>






{{!-- <div class="has-text-centered" id="blogbox">
    <div class="columns">
        <div class="column">
            <div class="columns mt-1">
                <div class="column is-half">
                    <h2 class="h2 is-size-2 has-text-weight-bold" >Welcome, {{username}}!</h2>
                    <br>
                    <h2 class="h2 is-size-4 has-text-weight-bold">Create a New Blog Post</h2>
                    <br>
                    <form class="form new-blog-form">
                        <div class="field">
                            <label class="label h2 is-size-5 has-text-weight-bold" for="blog-name">Title:</label>
                            <div class="control">
                                <input class="input" type="text" id="blog-name" name="blog-name" />
                            </div>
                        </div>
                        <div class="field">
                            <label class="label h2 is-size-5 has-text-weight-bold" for="blog-desc">Content:</label>
                            <div class="control">
                                <textarea class="textarea" id="blog-desc" name="blog-desc"></textarea>
                            </div>
                        </div>
                        <br>
                        <div class="field">
                            <div class="control">
                                <button type="submit" class="button navheader is-size-5 custom-box">Create</button>
                            </div>
                        </div>
                    </form>
                </div>
            
                {{#if blogs.length}}
                <div class="blog-list column is-half">
                    <h2 class="h2 is-size-3 has-text-weight-bold">Blog Posts</h2>
                
                    {{#each blogs as |blog|}}
                    <div class="columns mb-2">
                        <div class="column is-two-thirds">
                        <div>
                            <h4>
                                <a class="is-size-5 has-text-success has-text-weight-bold" id="created-blogs" href="/blogs/{{id}}">
                                    {{blog.title}}: &nbsp; posted on: {{format_date createdAt}}
                                </a>
                            </h4>
                            
                        </div>

                        </div>
                    </div>
                    <div>
                        
                    </div>
                    {{/each}}
                    </div>
                    {{/if}}
            </div>
        </div>
    </div>
</div>
<script src="./js/dashboard.js"></script> --}}


